@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(121deg, #ff0000 0%, #ff0000 100%),
		linear-gradient(140deg, #ff5454 27%, #223dcb 100%),
		linear-gradient(140deg, #4e9c51 0%, #001aff 72%),
		linear-gradient(64deg, #6e00ff 0%, #0038ff 100%),
		radial-gradient(52% 101.79% at 50% 50%, #707300 0%, #ff0000 100%),
		radial-gradient(100% 100% at 70% 0%, #7a3b00 0%, #1dac92 100%);
	background-blend-mode: overlay, overlay, difference, difference, color-burn,
		exclusion;
	color: #fff;
	font-family: 'Roboto Mono', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.counter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 30px 50px;
}

.counter {
	font-size: 60px;
	margin-top: 10px;
}

@media (max-width: 580px) {
	body {
		flex-direction: column;
	}
}
